body{
    background:$background;
    font-family: Roboto,serif;
    min-height: 100%;
    max-height: none;
    height: auto;
    padding-bottom:0;
    :focus {
        outline: none;
    }

    &>div.full-size {
        height: 100%;
        width: 100%;
    }
}

a{
    text-decoration: none;
}