﻿<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9" data-ng-app="materialAdmin"><![endif]-->
<html data-ng-app="App">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular Blockly Module</title>

    <link rel="stylesheet" href="sass/styles.css">
    <link rel="stylesheet" href="lib/angular-material/angular-material.css">

</head>

<body>

    <div layout="row" class="full-size" ng-controller="TestController as vm">
        <md-content layout-padding flex layout="column">
            <md-button aria-label="button-label" ng-click="vm.refreshXmlFromDirective()"> refreshXml </md-button>
            <div flex>
                {{vm.xmlCode}}
            </div>
            <div flex>
                {{vm.jsCode}}
            </div>
            <div flex>
                {{vm.cSharpCode}}
            </div>
        </md-content>
        <div angular-blockly angular-blockly-options="vm.blocklyOptions" flex></div>
    </div>



    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-route.min.js"></script>
    <script src="lib/angular-aria/angular-aria.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-material/angular-material.js"></script>



    <script src="lib/got-blockly/storage.js"></script>
    <script src="lib/got-blockly/blockly_compressed.js"></script>
    <script src="lib/got-blockly/blocks_compressed.js"></script>
    <script src="lib/got-blockly/javascript_compressed.js"></script>

    
    <script src="lib/got-blockly/generators/csharp.js"></script>
    <script src="lib/got-blockly/generators/csharp/got.js"></script>
    <script src="lib/got-blockly/generators/csharp/colour.js"></script>
    <script src="lib/got-blockly/generators/csharp/lists.js"></script>
    <script src="lib/got-blockly/generators/csharp/logic.js"></script>
    <script src="lib/got-blockly/generators/csharp/loops.js"></script>
    <script src="lib/got-blockly/generators/csharp/math.js"></script>
    <script src="lib/got-blockly/generators/csharp/procedures.js"></script>
    <script src="lib/got-blockly/generators/csharp/text.js"></script>
    <script src="lib/got-blockly/generators/csharp/variables.js"></script>



    <!-- Blockly -->
    <script src="ts/blockly/directives/angularblocklydirective.js"></script>
    <script src="ts/blockly/controllers/angularblocklycontroller.js"></script>
    <script src="ts/blockly/providers/angularblocklyoptionsprovider.js"></script>
    <script src="ts/blockly/services/angularblockyservice.js"></script>
    <script src="ts/blockly/blocklymodule.js"></script>

    <!-- Exdata -->
    <script src="ts/exdata/controllers/testcontroller.js"></script>
    <script src="ts/exdata/services/simepledataservice.js"></script>
    <script src="ts/exdata/services/customblocklyservice.js"></script>
    <script src="ts/exdata/exdatamodule.js"></script>

    <!-- App -->
    <script src="ts/app.js"></script>
</body>

</html>